.info-container{
 display: flex;
flex-direction: column;

justify-content: center;
align-items: center;
justify-self: center;

 background-color: rgb(131, 92, 56);
border: 10px solid rgb(80, 44, 10) ;

 width: 25%;
height: 50%;

font-size: 1.75rem;

}

.item-logo{
 width:50%;
height: 50%;
}

.item-name{
 font-size: 2.25rem;
}