body{
 background-color: rgb(56, 42, 30);
}


.page-container{
 display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
}

.inventory-container{
 display: grid;
grid-template-columns: repeat(3, 1fr);
 

 width: 50%;
height: 50%;

 background-color: rgb(131, 92, 56);
border: 10px solid rgb(80, 44, 10) ;
}

.inventory-item{
 display: flex;
 flex-direction: column;
 background-color: rgb(175, 141, 77);

 align-self: center;
 justify-self: center;
 align-items: center;
justify-content: center;

height: 80%;
 width: 80%;

overflow: hidden;
}

.spawn-button{
 background-color: rgb(194, 153, 111);
width: 14rem;
height: 6rem;
 border: 3px solid rgb(133, 74, 15);
color: rgb(87, 49, 10);

 font-size: 1rem;
 font-family: 'Cambria';

 margin: 3rem 0 ;
 
}

.item-photo{
 width: 3rem;
height: 3rem;
}